# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/FrontEnd/node_modules
/FrontEnd/.pnp
/FrontEnd/.pnp.js
/FrontEnd/.yarn/install-state.gz

# testing
/coverage

# next.js
/FrontEnd/.next/
/FrontEnd/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
/FrontEnd/npm-debug.log*
/FrontEnd/yarn-debug.log*
/FrontEnd/yarn-error.log*

# local env files
/FrontEnd/.env*.local

# vercel
/FrontEnd/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
BackEnd/node_modules/*

#compiled
BackEnd/dist

nginx_logs/*
ssl_certs/private_nginx-selfsigned.key
ssl_certs/public_nginx-selfsigned.crt
db/*
ngix_logs/*

FrontEnd/.env.production
FrontEnd/.env.development

BackEnd/.env.development
BackEnd/.env.production
BackEnd/.env.local

chatBot/monkeChat/*
